<template>
    <div class="region-box">
        <h2>Select a region from the input below</h2>
        <select @input="$emit('emitSelected', $event.target.value)">
            <option v-bind:key="0">-- Please select an option --</option>
            <option v-for="(region) in regions" v-bind:key="region.id" >
        {{ region.regionName }}
        </option>
        </select>
    </div>
</template>

<script>
  export default {
    name: 'regions',
    props: {
        regions: {
            type: Array,
            default: () => [],
        },
    },
  }
</script>

<style scoped>
    .region-box {
        padding: 5%;
    }
  h1, h2 {
    font-weight: normal;
  }

  a {
    color: #42b983;
  }
</style>
