<template>
  <div class="ratings">
    <!-- <v-if="this.errors"> -->
    <h1>{{ msg }}</h1>
    <div class="body">
      <ratings :regions="this.regions" v-on:emitSelected="onRegionSelected" />
      <div>The selected region is: {{ selected }}</div>
      <button @click="getRatings()">Get ratings for this region</button>
    </div>
    <b-table striped hover :items="ratings"></b-table>
  </div>
</template>

<script>
  import getRegionsApi from '../api/regions';
  import getRatingsApi from '../api/ratings';
  import ratings from '../components/regions';

  export default {
    name: 'ratingsPage',
    components: {
      ratings,
    },
    data () {
      return {
        msg: 'This will get the food ratings Please select a region and the ratings will be calculated:',
        regions: [],
        selected: '',
        ratings: [],
        errors: []
      }
    },
    async mounted() {
      this.regions = await getRegionsApi();
    },
    methods: {
      onRegionSelected (value) {
          this.selected = value;
      },
      async getRatings () {
        if(this.selected !== '') {
          let selected = this.regions.filter((region) => region.regionName === this.selected);
          const urlString = '/ratings/' + selected[0].id;
          this.ratings = await getRatingsApi(urlString);
        } else {
          this.errors.push('Please select an option');
        }
        console.log(this.errors);
    },
    }
  }
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  .body {
    background: lightgray;
    padding: 5%;
  }

  a {
    color: #42b983;
  }
</style>
